{
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "modules": true
        }
    },
    "rules": {
        "no-console":[],
        "prettier/prettier": "error"
    }
}
